@media (max-width: 768px) {

  /* Start Navbar */
  nav {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    position: relative;
  }

  nav .contanier .logo img {
    width: 80px !important;
    margin-right: 25px !important;
  }

  nav .contanier ul {
    position: absolute !important;
    top: 100% !important;
    width: 100% !important;
    flex-direction: column !important;
    display: flex !important;
    visibility: hidden !important;
    background-color: azure;
  }

  nav .contanier ul.show-ul {
    visibility: visible !important;
  }

  nav .contanier .login .fa-bars {
    display: block !important;
    font-size: 30px !important;
    margin-left: -37px !important;
  }

  nav .contanier .login i {
    display: none !important;
  }

  nav .contanier .login a {
    padding: 7px 11px !important;
    font-size: 16px !important;
    margin-left: -10px !important;
  }

  nav .contanier {
    padding: 15px 0 !important;
    margin: 0 !important;
  }

  /* Start corsee */
  .slide-content {
    margin: 0 10px;
  }

  .swiper-navBtn {
    display: none;
  }



  /* Start hero */
  section .contanier .hero img {
    margin-top: 20px;
  }

  /* End hero */


  /* Start about */
  
#about .contanier .about .about-content h4 {
  font-size: 30px !important;
  font-family: TextArabic-Regular;

}

  section#swiper .details,
  section#swiper .title {
    opacity: 0;
  }

  section#swiper .swiper-slide .left img {
    object-fit: contain;
    width: 260px;
    position: relative;
    top: 16px !important;
    left: 216px !important;
    text-align: center;
    margin-right: auto;
  }

  section#swiper .swiper-slide a {
    opacity: 0;
  }

  /* Start Compony */
  .company {
    text-align: center !important;
  }
  
  .company h1 {
    font-size: 40px !important;
    font-family: TextArabic-Bold;
  }

  .company p {
    font-size: 16px;
    font-family: TextArabic-Regular;
    margin-top: 10px;
  }
  .team p.title-team {
    font-weight: 700;
    font-size: 16px !important;
    text-align: center;
    padding: 20px 0;
}
.line {
  border-bottom: 3px solid #000;
  width: 22% !important;
}
.contact .container {
  padding: 30px !important;
}
  .content-training{
    display: block;
    text-align: center;
    line-height: 20px !important;
    
    }
    .content-training h1 {
      font-size: 13px !important;
      font-family: TextArabic-Regular;
    }
    .contact .container p:nth-child(2) {
      font-size: 20px !important;
      font-family: TextArabic-Regular;
    }

  .content-training {
    width: fit-content;
  }

  .content-training img {
    width: 150px;
    height: 150px;
  }

  .content-training p {
    font-size: 15px !important;
  }


  /* End Compony  */
  .teamSwiper img {
    width: 330px !important;
  }

  footer {
    padding: 20px 10px !important;
  }

  footer ul li {
    padding: 4px 0 !important;
  }

  

  /* Start team */
  .line {
    border-bottom: 3px solid #000;
    width: 10%;
  }

  /*Start vedio */
  .play-vedio .container .main-vedio .vedio {
    width: 88% !important;
    position: absolute !important;
    top: 14px !important;
    right: 50% !important;
    transform: translateX(50%) !important;
    border-radius: 20px !important;
    height: 28vh !important;
    z-index: 1 !important;
    background-color: inherit !important;
  }


  .main-vedio {
    border-radius: 20px !important;
  }

  .play-vedio .container .bg-vedio {
    height: 25vh !important;
  }

  .play-vedio {
    min-height: 60vh !important;
    padding: 80px 0 !important;
  }

  /*ُStart Experience*/
  p.t-ex {
    text-align: center !important;
    font-size: 15px !important;
    padding: 15px 0;
    font-weight: bold;
  }
}



@media (max-width: 991px) {
  #about {
    padding: 0 !important;
  }

  .swiper-slide1 img {
    width: 180px !important;
  }

  .overlay {
    flex-direction: column-reverse;
  }
}