@media only screen and (max-width: 600px) {
    nav {
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
        position: relative;
    }
     
    nav .contanier .logo img  {
        width: 80px !important;
        margin-right:25px !important;

    }
    nav .contanier ul {
        position: absolute !important;
        top: 100% !important;
        width: 100% !important;
        flex-direction: column !important;
        display: flex !important;
        visibility: hidden !important ;
        background-color: azure;
    }
    nav .contanier ul.show-ul {
        visibility: visible !important;
    }
    nav .contanier .login .fa-bars {
        display: block !important;
        font-size: 30px !important;
        margin-left: -37px !important;
        
    }
    nav .contanier .login i {
          display: none !important;
    }
    nav .contanier .login a {
        /* padding: 10px 20px  !important ; */
        padding: 7px 11px !important;
        font-size: 16px !important;
        margin-left: -10px !important;

    }
    nav .contanier {
        padding: 15px 0 !important;
        margin: 0 !important;
    }
    @media screen and (max-width: 768px) {
        .slide-content{
          margin: 0 10px;
        }
        .swiper-navBtn{
          display: none;
        }
        .company h1{
            text-align: center;
        }
        .company p {
            padding: 0 !important;
            text-align: center !important;
        }
        .two2 {
            text-align: center;
        }
      }
    /* Start hero */
    section .contanier .hero img {
    
        margin-top: 20px;
    }
    /* Start about */
    img.one{
        width: 150px;
    }
    section#swiper .details,section#swiper .title { 
        opacity: 0;
}
section#swiper .swiper-slide .left img {
    object-fit: contain;
    width: 260px;
    position: relative;
    top: 16px !important;
    left: 216px !important;
    text-align: center;
    margin-right: auto;
  }
}
@media (max-width:991px) {
    #about {
        padding: 0 !important;
    }
    .swiper-slide1 img {
        width: 180px !important;
    }
    .overlay {
        flex-direction: column-reverse;
    }
}
