* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

/* Fonts */
@font-face {
  font-family: TextArabic-Thin;
  src: url(../fonts/PFDinTextArabic-Thin.ttf);
}

@font-face {
  font-family: TextArabic-Light;
  src: url(../fonts/PFDinTextArabic-Light.ttf);
}

@font-face {
  font-family: TextArabic-Regular;
  src: url(../fonts/PFDinTextArabic-Regular.ttf);
}

@font-face {
  font-family: TextArabic-Medium;
  src: url(../fonts/PFDinTextArabic-Medium.ttf);
}

@font-face {
  font-family: TextArabic-Bold;
  src: url(../fonts/PFDinTextArabic-Bold.ttf);
}

.show-ul {
  visibility: visible !important;
}

body,
html {
  overflow-x: hidden !important;
  font-family: TextArabic-Regular;
}


.contanier {
  width: 80%;
  margin: auto;
}


ul,
a {
  text-decoration: none;
  list-style-type: none;
}


/* Start Navbar */

nav .contanier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

nav .contanier .logo img {
  width: 100px;
}

nav .contanier ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

nav .contanier ul .btn {
  border: 1px solid #00C3E1;
  border-radius: 15px;
  color: #00C3E1;
  font-size: 18px;
  font-family: TextArabic-Bold;
  padding: 0 15px;
}

nav .contanier ul li {
  padding: 0 13px;
}

nav .contanier ul li a {
  font-family: TextArabic-Medium;
  font-size: 18px;
  font-weight: 400;
  color: #301c7b;
  display: flex;
  align-items: center;
}

nav .contanier ul li a:hover {

  color: #00C3E1;
  transition: 0.3s ease-in;

}

nav .contanier .login {
  display: flex;
  align-items: center;
  gap: 25px;
}

nav .contanier .login a {
  padding: 3px 20px;
  background-color: #301C7B;
  color: white;
  font-size: 16px;
  border-radius: 16px;
  font-family: TextArabic-Regular;

}

nav .contanier .login i {
  color: #301C7B;
  font-size: 22px;
}

/* Start hero */

section .contanier .hero img {
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

/* Start About */


section .contanier .about .about-img img {
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;

}

#about {
  padding: 50px;
}


.about-content {
  padding-bottom: 30px;
}

#about .contanier .about .about-content h1 {
  font-size: 80px;
  color: #00C3E1;
  font-family: TextArabic-Bold;

}

#about .contanier .about .about-content h4 {
  font-size: 50px;
  font-family: TextArabic-Bold;

}

#about .contanier .about .about-content p {
  font-size: 18px;
  font-family: TextArabic-Regular;

}

#about .contanier .about .about-btn {
  display: flex;
  gap: 20px;
}

#about .contanier .about .about-btn a.r {
  padding: 10px 30px;
  background-color: #301C7B;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  font-family: TextArabic-Regular;
  font-style: normal;


}

#about .contanier .about .about-btn a.l {
  padding: 10px 35px;
  background-color: #00C3E1;
  color: white;
  border-radius: 12px;
  font-size: 16px;
  font-family: TextArabic-Regular;
  font-style: normal;

}


/* Start corsee */
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;

}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #f4fbfc;
  box-shadow: RGBA(0, 0, 0, 0.16);
  border: none;
  padding: 20px;
  border-radius: 30px;
  text-align: start;
  height: auto;
  object-fit: contain;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.card-image {
  position: relative;
  height: 100%;
  width: 100%;
  background: #FFF;
  padding: 3px;
  border-radius: 15px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.name {
  font-size: 16px;
  font-weight: 700;
  text-align: right !important;
  font-family: TextArabic-Bold;


}

.description {
  font-size: 16px;
  text-align: right !important;
  font-family: TextArabic-Regular;
}

.button {
  border: none;
  font-size: 12px;
  color: #FFF;
  padding: 10px 20px !important;
  background-color: #00C3E1;
  border-radius: 10px;
  margin-left: -14px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: TextArabic-Regular;
}

.button:hover {
  background: #265DF2;
}


.card:hover {
  background-color: #301C7B;
  color: #fff;
  transition: 0.5s ease-in;
}

.swiper-button-prev,
.swiper-button-next {
  color: #301c7b;
}

/* Start company */

.company {
  margin-top: 150px;
  background-color: #F1F1F1;
  padding: 50px;
}

.company h1 {
  font-size: 80px;
  font-family: TextArabic-Bold;
}

.company p {
  font-size: 25px;
  font-family: TextArabic-Regular;
}


.content-training {
  display: block;
  text-align: center;
  line-height: 5px;

}

.content-training img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.content-training h1 {
  font-size: 16px;
  font-family: TextArabic-Regular;
}

.content-training p {
  font-size: 12px;
  font-family: TextArabic-Light;
  margin-bottom: 10px;

}

/* End company */
/*Start vedio */
.play-vedio {
  min-height: 100vh;
  padding: 80px 0;
}

.play-vedio .container {
  width: 100%;
  position: relative;
}

.play-vedio .container .bg-vedio {
  background-color: #301c7b;
  width: 100%;
  height: 50vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: -1;
}

.play-vedio .container .main-vedio .vedio {
  width: 95%;
  position: absolute;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
  border-radius: 30px;
  height: 70vh;
  z-index: 1;
  background-color: #301c7b;

}


/*ÙStart Experience*/
p.t-ex {
  text-align: center !important;
  font-size: 25px;
  padding: 30px 0;
  font-family: TextArabic-Regular;

}

/* Start team */
.team {
  margin-top: 100px;
  background-color: #f2f2f2;

}

.swiper-pagination-bullet-active {
  background-color: #00C3E1;
}

.team p.title-team {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  padding: 20px 0;
  font-family: TextArabic-Bold;
  font-weight: bold;
}

.title-teamm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  border-bottom: 3px solid #000;
  width: 30%;
}



.team p.title-team {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  padding: 20px 0;
}

.title-teamm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.teamSwiper .team {
  display: flex;
  justify-content: center;
  align-items: center;
}

.line {
  border-bottom: 3px solid #000;
  width: 30%;
}

.image-slide {
  height: 20px;
  width: 100%;

}

.image-slide img {
  width: 100%;
  object-fit: cover;
}

img.image-slide {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

/*start  contact */
.contact .container {
  padding: 70px 0;
}

.contact .container p {
  text-align: center;
}

.contact .container p:nth-child(1) {
  font-family: TextArabic-Bold;
  font-size: 36px;

}

.contact .container p:nth-child(2) {
  font-size: 30px;
  word-spacing: 8px;
  font-family: TextArabic-Regular;
}

.contact .container a.contact-wats {
  width: 200px;
  padding: 10px 0;
  background-color: #1BD741;
  border-radius: 16px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  font-size: 18px;
}

/* Start Footer */

footer {
  background-color: #301C7B;
  padding: 30px 0;
  color: #fff;
  font-family: TextArabic-Regular;
}

footer .one {
  width: 140px;
}

footer h6 {
  font-size: 16px;
  line-height: 23px;
}

footer a {
  color: #fff;
  font-size: 16px;
  font-family: TextArabic-Light;
}

footer p {
  font-size: 25px;
  font-family: TextArabic-Bold;
}

footer ul li {
  padding: 6px 0 !important;
}


footer ul li a:hover {
  color: #00C3E1;
}

footer .contact {
  display: flex;
  gap: 20px;


}

footer .contact a {
  font-size: 13px;
  font-weight: 200;
  font-family: TextArabic-Thin;
  margin-top: 8px;
}

footer .contact a:hover {
  color: #00C3E1;
}

footer .social img {
  border: 1px solid #00C3E1;
  border-radius: 5px;
  padding: 5px;
}

footer h5 {
  text-align: center !important;
  font-family: zahra-Regular;
  font-size: 18px;
}

footer .time span {
  font-weight: 200;
  font-family: zahra-Regular !important;

}







/* Swiper */
section#swiper .swiper {
  width: 100%;
  height: 100%;
}

section#swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

section#swiper .swiper-slide .right {
  position: relative;
  top: 50px;
}

section#swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section#swiper {
  text-align: right;
  height: 80vh;
  background-image: url(../imeges/Vector.svg);
  background-size: cover;
  background-repeat: no-repeat;
  direction: rtl;
  text-align: right;
  color: white;
}

section#swiper .title {
  font-size: 40px;
  text-align: right;
  font-family: TextArabic-Bold;
}

section#swiper .details {
  font-size: 14px;
  text-align: right;
  margin-bottom: 20px;
  width: 70%;
  font-family: TextArabic-Regular;
}

section#swiper .swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
  right: unset;
  left: 40px !important;
}

section#swiper .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
}

.teamSwiper {
  padding: 70px 0;
}

.teamSwiper .swiper-pagination-bullet-active {
  background-color: hsl(252.37deg 64.24% 29.61%) !important;
}

.teamSwiper .swiper-pagination-bullet {
  background: white;
  border: 1px solid hsl(252.37deg 64.24% 29.61%);
  width: 13px;
  height: 13px;
}

.teamSwiper img {
  width: 200px;
}

section#swiper .swiper-slide a {
  width: 250px;
  text-align: center;
  background-color: hsl(188.3deg 99.12% 44.31%);
  color: white;
  font-size: 20px;
  border-radius: 6px;
  margin-left: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#swiper .swiper-slide a img {
  width: 15px;
  height: 15px;
  object-fit: cover;
}

section#swiper .swiper-slide .left {
  text-align: center;
}

section#swiper .swiper-slide .left img {
  object-fit: contain;
  width: 200px;
  position: relative;
  top: 53px;
  left: 111px;
  text-align: center;
  margin-right: auto;
}


section#swiper .swiper-slide div {
  width: 30%;
  padding: 30px;
}

section#swiper .swiper-slide div:nth-child(1) {
  width: 70%;
}

section#swiper .swiper-slide {
  display: flex;
  align-items: center;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--swiper-pagination-color, var(--swiper-theme-color));
  background-color: #00C3E1;
}