* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

/* Fonts */
@font-face {
  font-family: zahra-Regular;
  src: url(../fonts/18618-zahra.arabic.otf);
}

@font-face {
  font-family: ZahraArabic-Bold;
  src: url(../fonts/ArbFONTS-ZahraArabic-Bold.otf);
}

.show-ul {
  visibility: visible !important;
}

body,
html {
  font-family: zahra-Regular;

  overflow-x: hidden !important;
}


.contanier {
  width: 80%;
  margin: auto;
}


ul,
a {
  text-decoration: none;
  list-style-type: none;
}


/* Start Navbar */

nav .contanier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

nav .contanier .logo img {
  width: 100px;
}

nav .contanier ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

nav .contanier ul .btn {
  padding: 5px 30px;
  border: 1px solid #00C3E1;
  border-radius: 15px;
  color: #00C3E1;
  font-size: 17px;
  font-weight: 400;
}

nav .contanier ul li a {
  font-family: ZahraArabic-Bold;
  font-size: 18px;
  font-weight: 400;
  color: #301c7b;
  padding: 15px;
  display: flex;
  align-items: center;
}

nav .contanier ul li a:hover {

  color: #00C3E1;

}

nav .contanier .login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

nav .contanier .login a {
  padding: 5px 28px;
  background-color: #301C7B;
  color: white;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid;
  border-radius: 10px;
}

nav .contanier .login i {
  color: #301C7B;
  font-size: 22px;
}

/* Start hero */

section .contanier .hero img {
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
}

/* Start About */


section .contanier .about .about-img img {
  width: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  transform: scaleX(-1);
}

#about {
  padding: 100px;
}

.about-content {
  padding-bottom: 30px;
}

#about .contanier .about .about-content h1 {
  font-size: 80px;
  color: #00C3E1;
}

#about .contanier .about .about-content h4 {
  font-size: 50px;
  font-family: ZahraArabic-Bold;

}

#about .contanier .about .about-content p {
  font-size: 25px;
}

#about .contanier .about .about-btn {
  display: flex;
  gap: 20px;
}

#about .contanier .about .about-btn a.r {
  padding: 10px 30px;
  background-color: #301C7B;
  color: white;
  border-radius: 12px;
  font-size: 16px;

}

#about .contanier .about .about-btn a.l {
  padding: 10px 35px;
  background-color: #00C3E1;
  color: white;
  border-radius: 12px;
  font-size: 16px;
}


/* Start corsee */
.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;

}

.slide-content {
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}

.card {
  border-radius: 25px;
  background-color: #FFF;
}

.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: right;
  padding: 10px 14px;
}

.image-content {
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.card-image {
  position: relative;
  height: 100%;
  width: 100%;
  background: #FFF;
  padding: 3px;
  border-radius: 15px;
}

.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.name {
  font-size: 20px;
  font-weight: 700;
  text-align: right !important;

}

.description {
  font-size: 16px;
  text-align: right !important;
}

.button {
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #00C3E1;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover {
  background: #265DF2;
}

.card {
  border: none;
  padding: 20px;
  color: #000;
  border-radius: 30px;
  text-align: start;
  box-shadow: rgba(139, 139, 143, 0.2) 0px 7px 29px 0px;

}

.card:hover {
  background-color: #301C7B;
  color: #fff;
}

.swiper-button-prev,
.swiper-button-next {
  color: #301c7b;
}


/*Start vedio */
.play-vedio {
  min-height: 100vh;
  padding: 100px 0;
}

.play-vedio .container {
  width: 100%;
  position: relative;
}

.play-vedio .container .bg-vedio {
  background-color: #301c7b;
  width: 100%;
  height: 50vh;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: -1;
}

.play-vedio .container .main-vedio .vedio {
  width: 90%;
  position: absolute;
  top: 20px;
  right: 50%;
  transform: translateX(50%);
  border-radius: 30px;
  height: 70vh;
  z-index: 1;
  background-color: #301c7b;

}


/*ُStart Experience*/
p.t-ex {
  text-align: center !important;
  font-size: 25px;
  padding: 15px 0;
  font-weight: bold;
}

/* Start team */
.team {
  padding: 100px 0;
  background-color: #f2f2f2;
  margin-top: 50px;
}

.team p.title-team {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  padding: 20px 0;
}

.title-teamm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  border-bottom: 3px solid #000;
  width: 30%;
}

.team {
  padding: 100px 0;
}

.team p.title-team {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  padding: 20px 0;
}

.title-teamm {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line {
  border-bottom: 3px solid #000;
  width: 30%;
}

/*ُStart team */
.image-slide {
  height: 350px;
  width: 100%;

}

.image-slide img {
  width: 100%;
  object-fit: cover;
}

img.image-slide {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

/*start  contact */
.contact .container {
  padding: 50px 0;
}

.contact .container p {
  text-align: center;
}

.contact .container p:nth-child(1) {
  font-weight: 700;
  font-size: 36px;

}

.contact .container p:nth-child(2) {
  font-size: 25px;
}

.contact .container a.contact-wats {
  width: 200px;
  padding: 15px;
  background-color: #1BD741;
  border-radius: 30px;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* Start Footer */

footer {
  background-color: #301C7B;
  padding: 30px 0;
  color: #fff;
}

footer a {
  color: #fff;


}

footer p {
  font-family: ZahraArabic-Bold;
  font-size: 30px;
}

footer ul li {
  padding: 15px 0;
}

footer ul li a:hover {
  color: #00C3E1;
}

footer .contact {
  display: flex;
  gap: 10px;

}

footer .contact a {
  font-size: 18px;
  font-weight: 200;
  font-family: zahra-Regular !important;
}

footer .contact a:hover {
  color: #00C3E1;
}

footer .social img {
  border: 1px solid #00C3E1;
  border-radius: 5px;
  padding: 5px;
}


/* swiper */

.company {
  margin-top: 150px;
  background-color: #F1F1F1;
  padding: 50px;
}

.company h1 {
  font-size: 70px;
  font-weight: bold;
}

.company p {
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  text-align: right;
  color: #000000;
  padding: 0 0 0 100px;
}

.two {
  width: 160px;
}

/* com */

/* Swiper */
section#swiper .swiper {
  width: 100%;
  height: 100%;
}

section#swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px;
}

section#swiper .swiper-slide .right {
  position: relative;
  top: 50px;
}

section#swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section#swiper {
  text-align: right;
  height: 80vh;
  background-image: url(../imeges/Vector.svg);
  background-size: cover;
  background-repeat: no-repeat;
  direction: rtl;
  text-align: right;
  color: white;
}

section#swiper .title {
  font-size: 50px;
  text-align: right;
}

section#swiper .details {
  font-size: 25px;
  text-align: right;
  margin-bottom: 20px;
}

section#swiper .swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical>.swiper-pagination-bullets {
  right: unset;
  left: 40px !important;
}

section#swiper .swiper-pagination-vertical.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 13px !important;
  height: 13px !important;
}

.teamSwiper {
  padding: 70px 0;
}

.teamSwiper .swiper-pagination-bullet-active {
  background-color: hsl(252.37deg 64.24% 29.61%) !important;
}

.teamSwiper .swiper-pagination-bullet {
  background: white;
  border: 1px solid hsl(252.37deg 64.24% 29.61%);
  width: 13px;
  height: 13px;
}

.teamSwiper img {
  width: 200px;
}

section#swiper .swiper-slide a {
  width: 250px;
  text-align: center;
  background-color: hsl(188.3deg 99.12% 44.31%);
  color: white;
  font-size: 20px;
  border-radius: 6px;
  margin-left: auto;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section#swiper .swiper-slide a img {
  width: 15px;
  height: 15px;
  object-fit: cover;
}

section#swiper .swiper-slide .left {
  text-align: center;
}

section#swiper .swiper-slide .left img {
  object-fit: contain;
  width: 260px;
  position: relative;
  top: 30px;
  left: 50px;
  text-align: center;
  margin-right: auto;
}


section#swiper .swiper-slide div {
  width: 30%;
  padding: 30px;
}

section#swiper .swiper-slide div:nth-child(1) {
  width: 70%;
}

section#swiper .swiper-slide {
  display: flex;
  align-items: center;
}